apiVersion: storage.k8s.io/v1beta1
kind: StorageClass
metadata:
  name: {{cns_storageclass}}
  annotations:
    storageclass.beta.kubernetes.io/is-default-class: "true"
provisioner: kubernetes.io/glusterfs
parameters:
  resturl: "http://heketi-{{cns_namespace}}.{{ocp_routing_suffix}}"
  restauthenabled: "true"
  restuser: "admin"
  volumetype: "replicate:3"
  secretNamespace: "default"
  secretName: "cns-secret"
