apiVersion: storage.k8s.io/v1beta1
kind: StorageClass
metadata:
  name: {{cns_storageclass2}}
provisioner: kubernetes.io/glusterfs
parameters:
  resturl: "http://heketi-{{cns_namespace}}.{{ocp_routing_suffix}}"
  restauthenabled: "true"
  restuser: "admin"
  volumetype: "replicate:3"
  clusterid: "{{cns_clusterid_2}}"
  secretNamespace: "default"
  secretName: "cns-secret"
