*~
#*#
.idea
*.iml
*.komodoproject
.loadpath
.project
*.pyc
.pydevproject
*.pyo
*.redcar*
.*.swp
.sass-cache
.rvmrc
.DS_Store
gce.ini
multi_ec2.yaml
multi_inventory.yaml
.vagrant
.tags*
*.ini
add-node.json
infrastructure.json
ansible.log
.tox
static-inventory
*.retry
id_rsa*
instructor_key*
labguide/qwiklab-index/site
ci-test-container/qwiklab-secret.yaml