[Unit]
Description=Lab guide container
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/workshopper
#ExecStartPre=-/usr/bin/docker create --name %n -p 80:8080 --env-file /etc/sysconfig/workshopper docker.io/osevg/workshopper:0.1
ExecStart=/opt/bin/systemd-docker --env run --rm --name %n -p 80:8080 docker.io/osevg/workshopper:0.1
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target

