[Unit]
Description=Workshopper Lab Guide
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/etc/sysconfig/workshopper
ExecStart=/usr/local/sbin/systemd-docker --env --cgroups name=systemd run --rm --name %n -p 80:8080 quay.io/osevg/workshopper@sha256:c40b92f5d257134807fd9ff1443ff2456c683e9126f7710524a5f28763375264
Restart=always
RestartSec=10s
Type=notify
NotifyAccess=all
TimeoutStartSec=120
TimeoutStopSec=15

[Install]
WantedBy=multi-user.target
